# Terraform artifacts
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
tfplan.bin
terraform/plan.txt
projects/*/terraform.tfvars.json
projects/*/*/terraform.tfvars.json
terraform/terraform.tfvars.json
# macOS
.DS_Store