name: Kafka GitOps CD flow
on:
  push:
    branches: [ main ]

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
        env:
          TF_BUCKET_STATE: ${{ vars.TF_BUCKET_STATE }}

      - name: Export Confluent creds
        run: |
          echo "TF_VAR_confluent_api_key=${{ secrets.CONFLUENT_API_KEY }}" >> $GITHUB_ENV
          echo "TF_VAR_confluent_api_secret=${{ secrets.CONFLUENT_API_SECRET }}" >> $GITHUB_ENV
          echo "TF_BUCKET_STATE=${{ vars.TF_BUCKET_STATE }}" >> $GITHUB_ENV

      - name: Generate tfvars from YAML
        run: |
          pip install pyyaml
          file=$(git ls-files '*kafka-request.yaml' | head -n1)
          if [ -z "$file" ]; then
            echo "No kafka-request.yaml found in repository" >&2
            exit 1
          fi
          echo "Using kafka request file: $file"
          python scripts/parser.py "$file" terraform/terraform.tfvars.json

      - name: Terraform Init
        run: terraform -chdir=terraform init -backend-config="bucket=$TF_BUCKET_STATE" -reconfigure

      - name: Terraform Apply
        run: terraform -chdir=terraform apply -auto-approve -var-file="terraform.tfvars.json"